@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1 class="text-center mt-4">Event Booking System</h1>

<div class="container text-center mt-5">
    <a href="/Login" class="btn btn-primary m-2">Login</a>
    <a href="/Events" class="btn btn-success m-2">View Events</a>
    <a href="/MyBookings" class="btn btn-warning m-2">My Bookings</a>
</div>