@{
    ViewData["Title"] = "Home Page";
}

<style>

    body {
        background: linear-gradient(120deg,#667eea,#764ba2);
        font-family: Arial;
    }

    .portal {
        width: 60%;
        margin: 120px auto;
        text-align: center;
        background: white;
        padding: 50px;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    }

    .btn {
        padding: 15px 35px;
        font-size: 18px;
        border-radius: 8px;
        text-decoration: none;
        margin: 10px;
        color: white;
    }

    .studentbtn {
        background: #28a745;
    }

    .adminbtn {
        background: #007bff;
    }

    .btn:hover {
        opacity: 0.85;
    }

</style>

<div class="portal">

    <h1>🎓 Student Portal</h1>

    <a asp-controller="Students" asp-action="Index" class="btn studentbtn">
        View Students
    </a>

    <a asp-controller="Home" asp-action="Login" class="btn adminbtn">
        Admin Login
    </a>

</div>