@* namespace EmployeePortal.Views.HR
{
    public class Index
    {
    }
} *@
<h2>HR Dashboard</h2>

<a href="/HR/EmployeeList">View Employees</a>
<br>
<br>
<a href="/HR/Reports">Generate Reports</a>