@* namespace ProjectManagement.Views.Product
{
    public class Index
    {
    }
} *@

@model List<ProjectManagement.Models.Product>

<h2>Product List</h2>

@if (Model == null || !Model.Any())
{
    <p style="color:red;">No products available</p>
}
else
{
    <table border="1" cellpadding="10">
        <tr style="background-color:lightblue">
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
            </tr>
        }
    </table>
}
