@* namespace CompanyEmployees_1toMany.Views.Employees
{
    public class Index
    {
    }
} *@

@model CompanyEmployees_1toMany.Models.Employee

<h2>Add Employee</h2>

<form asp-action="Create">

    <label>Name</label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <br />

    <label>Age</label>
    <input asp-for="Age" />
    <span asp-validation-for="Age"></span>

    <br />

    <label>Position</label>
    <input asp-for="Position" />
    <span asp-validation-for="Position"></span>

    <br />

    <label>Company</label>
    <select asp-for="CompanyId" asp-items="ViewBag.CompanyList"></select>

    <br /><br />

    <button type="submit">Add Employee</button>

</form>
