
@{
    ViewData["Title"] = "Dashboard";
}

@* <h1>Dashboard</h1> *@


<h2>Dashboard</h2>

<h3>Welcome, @ViewBag.Username 👋</h3>

<a href="/Account/Logout"
   style="background-color:red; color:white; padding:10px; text-decoration:none;">
    Logout
</a>

