@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<h2>🏠 Employee Management Portal</h2>

<a href="/Employee/Register">Register Employee</a>
<br>
<br>
<a href="/HR">HR Module</a>
<br>
<br>
<a href="/Account/Login">Admin Login</a>