@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
    ViewData["Title"] = "Home Page";
} *@

<div class="container text-center mt-5">
    <h1 class="display-4">My Books</h1>
    <p class="lead">My Journey towards reading</p>

    <br>

    <a asp-controller="BookModels" asp-action="Index" class="btn btn-success btn-lg">
        📚 View Books
    </a>

    <a asp-controller="BookModels" asp-action="Create" class="btn btn-primary btn-lg">
        ➕ Add New Book
    </a>
</div> 


@*  <div>
    <a asp-controller="BookModels" asp-action="Index" class="btn btn-primary">
        Manage Books
    </a>
</div>

<br />

<div>
    <a asp-controller="PublisherModels" asp-action="Index" class="btn btn-success">
        Manage Publishers
    </a>
</div> *@